<!-- footer with navigation (only mobile) -->
<div th:fragment="footer">
    <div id="footer">
        <div id="navigation-footer">
            <div class="navigation-footer-item nav2-home" onclick="location.href='/';"></div>
            <div class="navigation-footer-item nav2-calendar"></div>
            <div class="navigation-footer-item nav2-notifications"></div>
            <div class="navigation-footer-item nav2-settings" onclick="location.href='/profile';"></div>
        </div>
    </div>
</div>