<div th:fragment="header">
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div id="header">
            <div id="navigation-header">
                <div class="navigation-header-item nav-burgermenu"></div>
                <div class="navigation-header-item nav-home" onclick="location.href='/';"></div>
                <div class="navigation-header-item nav-calendar" onclick="location.href='/semesterView/choose';"></div>
                <div class="navigation-header-item nav-notifications"></div>
                <div class="navigation-header-item nav-settings" onclick="location.href='/profile';"></div>
            </div>
            <div id="title">eXama</div>
            <div id="logout">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="navigation-header-item nav-logout" />
                </form>
            </div>
        </div>
    </div>
</div>