<div th:fragment="header">
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div id="header">
            <div id="navigation-header">
                <div class="navigation-header-item nav-burgermenu">
                    <ul>
                        <li>eins</li>
                        <li>zwei</li>
                    </ul>
                </div>
                <!-- <a th:href="@{/}"><div class="navigation-header-item nav-home"></div></a> -->
                <a th:href="@{/teacher}" sec:authorize="hasAnyAuthority('TEACHER')"><div class="navigation-header-item nav-teacher"></div></a>
                <a th:href="@{/calendarchoose?view=1&coreCourse={cc}(cc=${coreCoursesCurrentUser.get(0).id})}" sec:authorize="hasAnyAuthority('TEACHER', 'STUDENT')"><div class="navigation-header-item nav-diagram"></div></a>
                <!-- <a th:href="@{/exams/create}" sec:authorize="hasAnyAuthority('TEACHER')"><div class="navigation-header-item nav-addexam"></div></a> -->
                <a th:href="@{/profile}" sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')"><div class="navigation-header-item nav-schoolsettings"></div></a>
            </div>
            <div id="title">eXama</div>
            <div id="logout-profile">
                <a th:href="@{/profile}"><div class="nav-profile"></div></a>
                <form class="nav-logout-form" th:action="@{/logout}" method="post">
                    <button type="submit" class="navigation-header-item nav-logout" />
                </form>
            </div>
        </div>
    </div>
</div>