<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head">

</head>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>
        
        <div th:include="fragments/coursenavigation :: coursenavigation"></div>
        
        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
            <h1>Das sind deine Prüfungen in der gewählten Woche</h1>
            <a href="/examBar/selectDate">> neues Datum auswählen</a><br><br>
            
            
            <table class="scrollableTable">
                <thead>
                    <tr>
                        <th>Prüfungs ID</th>
                        <th>Name der Prüfung</th>
                        <th>Prüfungsdatum / Deaadline</th>
                        <th>Faktor</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exam : ${liste}">
                        <td th:text="${exam.Id}"></td>
                        <td th:text="${exam.name}"></td>
                        <td th:text="${exam.dueDate}"></td>
                        <td th:text="${exam.countingFactor}"></td>
                    </tr>
                </tbody>
            </table>
            <br />
             <input type="text" placeholder="Suche nach Prüfungsamen - hier passiert noch nichts">

            <h3 data-th-text="${msg}" />
            <h3 data-th-text="${anzpr}" />
             <h3 data-th-text="${msg2}" />
             <h3 data-th-text="${xFactor}" />


<script>
//TODO:
//Hier kommt der neue 100stak.js code!!!!

</script>




<script>

// Dies ist der "alte" CanvasJS.Chart Exambar - wird gelöscht werden!
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", //"light1", "dark1", "dark2"
	title:{
        text: "Du hast " + "[[${Datum}]]" + " gewählt, und dies ist dein ExamBar"             
	},
	axisY:{
		interval: 25,
		suffix: "%"
	},
	toolTip:{
		shared: true
	},
	data:[{
		type: "stackedBar100",
		toolTipContent: "{label}<br><b>{name}:</b> {y} (#percent%)",
		showInLegend: true, 
		name: "Besetzt",
		dataPoints: [
			{ y: [[${xFactor}]], label: "Deine Woche, Socke!" }
		]
		},
		
		{
			type: "stackedBar100",
			toolTipContent: "<b>{name}:</b> {y} (#percent%)",
			showInLegend: true, 
			name: "Frei",
			dataPoints: [
				{ y: 10-[[${xFactor}]], label: "Woche ab: " + "[[${Montag}]]" }

			]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10 || document.getElementById("").scrollTop > 10) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>

</div>
</body>

</html>