<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head">

</head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>
        
        <div th:include="fragments/coursenavigation :: coursenavigation"></div>
        
        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1 data-th-text="'Das ist deine Semesterübersicht für das ' + ${semester.name}"> </h1>
            <a href="/semesterView/choose">> neues Semester auswählen</a><br><br>

            <h3 data-th-text="${examTotal}" />
            <h3 data-th-text="${xExam}" />
            
            
            <table>
                <thead>
                  <tr class="headings">
                  <th>SW</th> <!--Schulwoche-->
                  <th>Woche</th>
                  <th th:each="subject: ${allSubjects}" class="column-title" th:text="${subject.tag}" />
                  </tr>
                </thead>
                
                <tbody>
                <tr th:if="${examTotal}==0">
                  <td colspan="100%"> Bislang wurden in diesem Semester noch keine Prüfungen erfasst </td>
                </tr>
                <tr th:unless="${examTotal}==0" 
                    th:each="monday, iStat : ${allMondays}" th:style="${iStat.odd}? 'font-weight: bold;'" th:alt-title="${iStat.even}? 'even' : 'odd'">
                  <td th:text="${iStat.count}"> Semesterwoche</td>
                  <td><span th:text="${#temporals.dayOfWeekNameShort(monday)} + ', ' + ${monday}"> Wochenanfang </span></td>
<!--              <td th:each="subject: ${allSubjects}" th:text="${#lists.isEmpty(allExams)}" />-->

                  <td th:each="subject: ${allSubjects}" th:text="${allExams.get(iStat.index).size} == 0 ? 'Yes' : 'No'"/>


                  </td>
               </tr>
            </table>
            <br />
            <br />
            <br />

        <!--<td th:each="subject: ${allSubjects}" th:each="exam: ${allExams}" th:if="subject == exam.subject">
                <th:text="${#temporals.dayOfWeekNameShort(exam.dueDate)}"</td>
            -->
            <table>
              <th:each="subject : ${allSubjects}">
                <td>
                   <tr th:each="exam: ${allExams.get(iStat.index)}"
                      th:text="${exam.name}">
                    </tr>
                <td>
                <td></td>
            </table>

            <br />
            <!-- <input type="text" placeholder="Suche nach Prüfungsamen - hier passiert noch nichts">

            <h3 data-th-text="${msg}" />
            <h3 data-th-text="${anzpr}" />
             <h3 data-th-text="${msg2}" />
             <h3 data-th-text="${xFactor}" />


<script>
//TODO:
//Hier kommt der neue 100stak.js code!!!!

</script>




<script>

// Dies ist der "alte" CanvasJS.Chart Exambar - wird gelöscht werden!
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", //"light1", "dark1", "dark2"
	title:{
        text: "Du hast " + "[[${Datum}]]" + " gewählt, und dies ist dein ExamBar"             
	},
	axisY:{
		interval: 25,
		suffix: "%"
	},
	toolTip:{
		shared: true
	},
	data:[{
		type: "stackedBar100",
		toolTipContent: "{label}<br><b>{name}:</b> {y} (#percent%)",
		showInLegend: true, 
		name: "Besetzt",
		dataPoints: [
			{ y: [[${xFactor}]], label: "Deine Woche, Socke!" }
		]
		},
		
		{
			type: "stackedBar100",
			toolTipContent: "<b>{name}:</b> {y} (#percent%)",
			showInLegend: true, 
			name: "Frei",
			dataPoints: [
				{ y: 10-[[${xFactor}]], label: "Woche ab: " + "[[${Montag}]]" }

			]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; max-width: 920px; margin: 0px auto;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10 || document.getElementById("").scrollTop > 10) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


        <!-- footer with navigation (only mobile)
        <div th:include="fragments/footer :: footer"></div>-->

</div>
</body>

</html>