<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Guten Tag, das steht diese Woche an: </h1>
            <br><br>
              <table>
                  <thead>
                    <tr class="headings">
                    <th>Datum</th>  
                    <th>Prüfungen</th>
                    <th>Hausaufgaben</th>
                    </tr>
                  </thead>
                                      <!--     
                                        td:unless="${exam.dueDate == date}"
                                        td:unless="${homework.dueDate == date}
                                      -->
                  <tbody >
                    <tr th:each="date :${dates}">
                    <td th:text="${date}"></td>
                    <td td:each="exam :${allExams}" td:if="${exam.dueDate == exam.dueDate}" td:text="${exam.name}" >
                    <td:unless="${exam.dueDate == date}">kein Exam
                    </td>
                    <td td:each="homework :${allHomework}" td:if="${homework.dueDate == date}" td:text="${homework.name}">
                    <td:unless="${homework.dueDate == date}">keine Hausaufgaben
                    </td>
                    </tr>
                  </tbody>
                  
                </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>

</body>

</html>