<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Guten Tag, das steht diese Woche an: </h1>
            <br><br>
              <table>
                  <thead>
                    <tr class="headings">
                    <th>Datum</th>  
                    <th>Prüfungen</th>
                    <th>Hausaufgaben</th>
                    <th>test</th>
                    </tr>
                  </thead>
                  <tbody >
                  <!--th:each="date, iStat: ${dates}" th:style="${iStat.odd}? 'font-weight: bold;'"-->
                  <!--th:text="${date.getFirst().toString()}"-->
                    <tr th:each="date: ${dates}">
                    <td th:text="${date}"></td>
                    <td  th:text="${allExams}" >
                    </td>
                    <td th:text="${allHomework}">
                    </td>
                    <td>test</td>
                    </tr>
                    <!-- Test für Exam-->
                    <tr th:each="exam: ${examString}">
                    <td>Datum</td>
                    <td  th:text="${exam}">
                    </td>
                    <td >hier kommt Homework
                    </td>
                    <td>test</td>
                    </tr>
                  </tbody>
                  
                </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>

</body>

</html>