<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Guten Tag, das steht diese Woche an </h1>
            <br><br>
              <table>
                  <thead>
                    <tr class="headings">
                    <th>Datum</th>  
                    <th>Prüfungen</th>
                    <th>Hausaufgaben</th>
                    </tr>
                  </thead>

                  <tbody>
                  <!-- Montag -->
                    <tr>
                    <td th:text="${dates.getFirst}"></td>
                    <td>
                    </td>
                    <td ><!--<span th:if="${homework.dueDate==dates.getFirst">"${exam.name}"</span>
                    <span th:unless="${homework.dueDate==dates.getFirst">keine Hausaufgaben</span>-->Test2
                    </td>
                    </tr>
                    <!-- Dienstag -->
                    <!-- Mittwoch -->
                    <!-- Donnerstag -->
                    <!-- Freitag -->
                    <!-- Samstag -->
                    <!-- Sonntag -->
                  </tbody>
                </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>

</body>

</html>