<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Neue Prüfung erstellen</h1>

            <!-- Values for th:object attributes in form tags must be variable expressions (${...}). It specifies the NAME OF THE MODEL ATTRIBUTE!! So: ${mime.editDate} would not be. -->
            <!-- Once you are working inside the <form> tag, no other th:object attribute can be specified. This is consistent with the fact that HTML forms cannot be nested.-->


                <form th:action="@{/exams/modified}" th:object="${exam}" method="post">
                    <input type="hidden" th:field="*{id}" th:value="${exam.id}"/>
                    <input type="hidden" th:field="*{semester}" th:value="${exam.semester}"/>
                    <div>
                        <div>
                            <label>Prüfungsname: </label>
                            <input type="text" th:field="*{name}" class="form-control" maxlength="20"
                                required />
                        </div>
                        <br>
                        <div>
                            <label>Beschreibung: </label>
                            <textarea th:field="*{description}" class="form-control"
                                maxlength="255" />
                        </div>
                        <br>
                        <div>
                            <label>Kurs: </label>
                            <select th:field="*{course}" class="form-control" required />
                            <option th:each="course : ${allCourses}" th:text="${course.name}" th:value="${course.id}" th:selected="(${course} == *{course})"/>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label>Prüfungsdatum / Abgabedatum: </label>
                            <input type="text" th:field="*{dueDate}" id="toDate" class="form-control" required>
                            <!-- th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd') > firstDay ? #dates.format(#dates.createNow(), 'yyyy-MM-dd') : firstDay}, max=${lastDay}" required> -->
                        </div>
                        <br>
                        <div>
                            <label>Startdatum: </label>
                            <input type="text" th:field="*{startDate}" id="fromDate" class="form-control">
                            <!--this has been deleted: th:attr="min=${firstDay}, max=${lastDay}"-->
                        </div>
                        <br>
                        <div>
                            <label>Voraussichtliche Vorbereitungszeit: </label>
                            <select th:field="*{availablePrepTime}" class="form-control" required />
                            <option th:each="preptime : ${allPrepTimes}" th:text="${preptime.name}"
                                th:value="${preptime.id}" th:selected="(${preptime} == *{availablePrepTime})"/>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label>Prüfungstyp: </label>
                            <select th:field="*{examType}" class="form-control" required />
                            <option th:each="type : ${allExamTypes}" th:text="${type.name + ' (' + type.timeValue + ' h)'}"
                                th:value="${type.id}" th:selected="(${type} == *{examType})"/>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label>Workload Minutes Total (optional): </label>
                            <input type="text" th:field="*{workloadMinutesTotal}"
                                class="form-control" minlength="1" maxlength="4" />
                        </div>
                        <br>
                        <div>
                            <label>Workload Distribution:
                                <select th:field="*{workloadDistribution}" class="form-control" required>
                                    <option th:each="dist : ${allWorkloadDistributions}" th:text="${dist.name}" th:value="${dist.id}" th:selected="(${dist} == *{workloadDistribution})"/>
                                </select>
                            </label>
                        </div>
                        <br>
                        <div>
                            <label>Prüfungsfaktor: </label>
                        </div>
                        <br>
                        <div>
                            <input type="number"  th:field="*{countingFactor}" class="form-control"
                                min="0.5" max="3.0" step="0.5" value="1.0" required />
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="login-button">Prüfung speichern</button>
                        </div>
                    </div>
                </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>