<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Hausaufgabe erstellen/bearbeiten</h1>

            <!-- Values for th:object attributes in form tags must be variable expressions (${...}). It specifies the NAME OF THE MODEL ATTRIBUTE!! So: ${mime.editDate} would not be. -->
            <!-- Once you are working inside the <form> tag, no other th:object attribute can be specified. This is consistent with the fact that HTML forms cannot be nested.-->


                <form th:action="@{/homeworks/modified}" th:object="${homework}" method="post">
                    <input type="hidden" th:field="*{id}" th:value="${homework.id}"/>
                    <div>
                        <div>
                            <label>Titel: </label>
                            <input type="text" th:field="*{name}" class="form-control" maxlength="20"
                                required />
                        </div>
                        <br>
                        <div>
                            <label>Beschreibung: </label>
                            <textarea th:field="*{description}" class="form-control"
                                maxlength="255" />
                        </div>
                        <br>
                        <div>
                            <label>Kurs: </label>
                            <select th:field="*{course}" class="form-control" required />
                            <option th:each="course : ${allCourses}" th:text="${course.name}" th:value="${course.id}" th:selected="(${course} == *{course})"/>
                            </select>
                        </div>
                        <br>
                        <div>
                            <label>Abgabedatum: </label>
                            <input type="text" th:field="*{dueDate}" id="datepicker" class="form-control" required>
                        </div>
                        <br>
                        <div>
                            <label>Workload Minutes Total: </label>
                            <input type="text" th:field="*{workloadMinutesTotal}"
                                class="form-control" minlength="1" maxlength="4" required />
                        </div>
                        <br>
                        <div>
                            <label>Workload Distribution:
                                <select th:field="*{workloadDistribution}" class="form-control" required>
                                    <option th:each="dist : ${allWorkloadDistributions}" th:text="${dist.name}" th:value="${dist.id}" th:selected="(${dist} == *{workloadDistribution})"/>
                                </select>
                            </label>
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="login-button">Hausaufgabe speichern</button>
                        </div>
                    </div>
                </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>