<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Neues Mime erstellen</h1>

            <form th:action="@{/mimes/created}" th:object="${verpacktesObjekt}" method="post">
                <div>
                    <label>Prüfungsname: </label>

                    <div>
                        <input type="text" th:field="*{name}" class="form-control" />
                    </div>
                    <div>
                        <label>Prüfungsdatum: </label>
                    </div>



                    <!-- Values for th:object attributes in form tags must be variable expressions (${...}) specifying only the name of a model attribute, without property navigation. This means that an expression like ${seedStarter} is valid, but ${seedStarter.data} would not be.

    Once inside the <form> tag, no other th:object attribute can be specified. This is consistent with the fact that HTML forms cannot be nested.-->

                    <input type="date" th:field="*{editDate}" class="form-control" value="2021-02-21" min="2021-01-01"
                        max="2021-07-21" />
                    <!--<input type="date" th:field="*{examDate}" th:field spricht das konkrete Objektfeld an! mit date funktioniert es schon mal />-->
                </div>

                <br>
                <div>
                    <button type="submit" class="login-button">Deinen Mime erstellen</button>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>