<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Prüfungen anzeigen</h1>
            <a href="/mimes/create">> neue Prüfung hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Prüfungs ID</th>
                        <th>Name der Prüfung</th>
                        <th>editDate</th>
                        <th>startDate</th>
                        <th>dueDate</th>
                        <th>Beschreibung</th>
                        <th>Faktor</th>
                        <th>Pruefungstyp (nur ID)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mime : ${nunNimmDieseListe}">
                        <td th:text="${mime.Id}"></td>
                        <td th:text="${mime.name}"></td>
                        <td th:text="${mime.editDate}"></td>
                        <td th:text="${mime.startDate}"></td>
                        <td th:text="${mime.dueDate}"></td>
                        <td th:text="${mime.description}"></td>
                        <td th:text="${mime.countingFactor}"></td>
                        <td th:text="${mime.examType.id}"></td>


                    </tr>
                </tbody>
            </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>