<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Neue Prüfung erstellen</h1>
            <a href="/examsNew/show">> alle Prüfungen anzeigen</a><br><br><br>

            <form th:action="@{/examsNew/created}" th:object="${newExam}" method="post">
                <div>
                    <div>
                        <label>Prüfungsname: </label>
                        <input type="text" th:field="*{name}" class="form-control" maxlength="20"
                            required />
                    </div>
                    <br>
                    <div>
                        <label>Beschreibung: </label>
                        <textarea th:field="*{description}" class="form-control"
                            maxlength="255" />
                    </div>
                    <!-- <br>
                    <div>
                        <label>Prüfungsdatum / Abgabedatum: </label>
                        <input type="date" th:field="*{dueDate}" class="form-control" required/>
                    </div>
                    <br>
                    <div>
                        <label>Startdatum: </label>
                        <input type="date" th:field="*{startDate}" class="form-control"/>
                    </div> -->
                    <br>
                    <div>
                        <label>Voraussichtliche Vorbereitungszeit: </label>
                        <select th:field="*{availablePrepTime}" class="form-control" required />
                        <option th:each="preptime : ${allAvailablePreptimes}" th:text="${preptime.name}"
                            th:value="${preptime.id}" />
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Prüfungstyp: </label>
                        <select th:field="*{examType}" class="form-control" required />
                        <option th:each="type : ${allExamTypes}" th:text="${type.name + ' (' + type.timeValue + 'h)'}"
                            th:value="${type.id}" />
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Fach: </label>
                        <select th:field="*{subject}" class="form-control" required />
                        <option th:each="subject : ${allSubjects}" th:text="${subject.name}" th:value="${subject.id}" />
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Klasse: </label>
                        <select th:field="*{courses}" class="form-control" required />
                        <option th:each="course : ${allCourses}" th:text="${course.name}" th:value="${course.id}" />
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>Workload Minutes Total: </label>
                        <input type="text" th:field="*{workloadMinutesTotal}"
                            class="form-control" minlength="1" maxlength="4" />
                    </div>
                    <br>
                    <div>
                        <label>Workload Distribution:
                            <select th:field="*{workloadDistribution}" class="form-control" required>
                                <option th:each="dist : ${allWorkloadDistributions}" th:text="${dist.name}" th:value="${dist.id}" />
                            </select>
                        </label>
                    </div>
                    <br>
                    <div>
                        <label>Prüfungsfaktor: </label>
                    </div>
                    <br>
                    <div>
                        <input type="number"  th:field="*{countingFactor}" class="form-control"
                            min="0.5" max="3.0" step="0.5" value="1.0" required />
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="login-button">Prüfung erstellen</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>