<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Alle Prüfungen</h1>
            <a href="/examsNew/create">> neue Prüfung hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Exam ID</th>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>editDate</th>
                        <th>startDate</th>
                        <th>dueDate</th>
                        <th>Fach</th>
                        <th>Klasse</th>
                        <th>Faktor</th>
                        <th>Pruefungstyp</th>
                        <th>Preptime</th>
                        <th>Distribution</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exam : ${allExams}">
                        <td th:text="${exam.id}"></td>
                        <td th:text="${exam.name}"></td>
                        <td th:text="${exam.description}"></td>
                        <td th:text="${exam.editDate}"></td>
                        <td th:text="${exam.startDate}"></td>
                        <td th:text="${exam.dueDate}"></td>
                        <td th:text="${exam.subject}"></td>
                        <td th:text="${exam.courses}"></td>
                        <td th:text="${exam.countingFactor}"></td>
                        <td th:text="${exam.examType.getName()}"></td>
                        <td th:text="${exam.availablePrepTime.getName()}"></td>
                        <td th:text="${exam.workloadDistribution}"></td>
                        <td>bearbeiten</td>
                        <td>löschen</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>