<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Wochenansicht</h1>
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" th:href="${urlBuilder.replaceQueryParam('view', '1').toUriString()}">> Workload Diagramm</a><br><br>
            <a th:href="@{/calendarchoose?view=3&coreCourse={cc}(cc=${coreCourse.id})}">> Semesteransicht</a><br><br>
            <!-- @ Roman: vielleicht wäre es cool, wenn die Seite auch auf calendar&view=3... gemappt würde. aber besprechen wir noch, wo was hin kommt :-) -->

            <h2>Klasse [[${coreCourse.name}]]</h2>
            <h3>Woche vom Montag, [[${#temporals.format(monday, 'dd.MM.yyyy')}]]</h3>
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" th:href="${urlBuilder.replaceQueryParam('monday', lastMonday).toUriString()}">&lt; vorherige Woche</a> | 
            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" th:href="${urlBuilder.replaceQueryParam('monday', nextMonday).toUriString()}">nächste Woche &gt;</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>startDate</th>
                        <th>dueDate</th>
                        <th>Kurs</th>
                        <th>Faktor</th>
                        <th>Pruefungstyp</th>
                        <th>ungefähre Vorbereitungszeit (optional)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exam : ${exams}">
                        <td th:text="${exam.name}"></td>
                        <td th:text="${exam.description}"></td>
                        <td th:text="${exam.startDate}"></td>
                        <td th:text="${exam.dueDate}"></td>
                        <td th:text="${exam.course}"></td>
                        <td th:text="${exam.countingFactor}"></td>
                        <td th:text="${exam.examType.getName()}"></td>
                        <td th:text="${exam.workloadMinutesTotal} == 0 ? '-' : ${exam.workloadMinutesTotal}"></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>