<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <div class="week-navigation">
                <div class="this-week">
                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        th:href="${urlBuilder.replaceQueryParam('monday', #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')).toUriString()}">zur
                        aktuellen Woche</a>
                </div>
                <div class="last-week">
                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        th:href="${urlBuilder.replaceQueryParam('monday', lastMonday).toUriString()}">&lt; letzte
                        Woche</a>
                </div>
                <div class="next-week">
                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        th:href="${urlBuilder.replaceQueryParam('monday', nextMonday).toUriString()}">nächste Woche
                        &gt;</a>
                </div>
            </div>
            <div class="content-box-full">
                <div class="content-box-header">
                    Klasse [[${coreCourse.name}]] | Woche vom Montag, [[${#temporals.format(monday, 'dd.MM.yyyy')}]]
                </div>
                <div class="content-box-content">
                    <b>Diagramm</b> | <a
                        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        th:href="${urlBuilder.replaceQueryParam('view', '2').toUriString()}">Liste</a> | <a
                        th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                        th:href="${urlBuilder.replaceQueryParam('view', '3').toUriString()}">Semesterplan</a>
                    <br><br>
                    <canvas id="workloadDiagram"></canvas>
                    <div id="day-buttons">
                        <div class="day-button">Mo, [[${#temporals.format(monday, 'dd.MM.')}]]</div>
                        <div class="day-button">Di, [[${#temporals.format(monday.plusDays(1), 'dd.MM.')}]]</div>
                        <div class="day-button">Mi, [[${#temporals.format(monday.plusDays(2), 'dd.MM.')}]]</div>
                        <div class="day-button">Do, [[${#temporals.format(monday.plusDays(3), 'dd.MM.')}]]</div>
                        <div class="day-button">Fr, [[${#temporals.format(monday.plusDays(4), 'dd.MM.')}]]</div>
                        <div class="day-button">Sa, [[${#temporals.format(monday.plusDays(5), 'dd.MM.')}]]</div>
                        <div class="day-button">So, [[${#temporals.format(monday.plusDays(6), 'dd.MM.')}]]</div>
                    </div>
                </div>
            </div>

            <div class="content-box-full">
                <div class="content-box-header">
                    Prüfungsbarometer
                </div>
                <div class="content-box-content">
                    <div id="stack100"></div>
                </div>
            </div>

            <div class="content-box-half">
                <div class="content-box-header">
                    Meine Prüfungen diese Woche
                </div>
                <div class="content-box-content">
                    <span style="font-size:1.5em; font-weight:bold;" th:if="${examsThisWeek.size == 0}">keine Prüfungen
                        -
                        yay!</span>
                    <table th:unless="${examsThisWeek.size == 0}">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Fach</th>
                                <th>Pruefungstyp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exam : ${examsThisWeek}">
                                <td th:text="${#temporals.format(exam.dueDate, 'dd.MM.yyyy')}"></td>
                                <td th:text="${exam.course.subject.tag}"></td>
                                <td th:text="${exam.examType.getName()}"></td>
                                <td><a href="#">ansehen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content-box-half">
                <div class="content-box-header">
                    Meine Prüfungen nächste Woche
                </div>
                <div class="content-box-content">
                    <span style="font-size:1.5em; font-weight:bold;" th:if="${examsNextWeek.size == 0}">keine Prüfungen
                        -
                        yay!</span>
                    <table th:unless="${examsNextWeek.size == 0}">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Fach</th>
                                <th>Pruefungstyp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="exam : ${examsNextWeek}">
                                <td th:text="${#temporals.format(exam.dueDate, 'dd.MM.yyyy')}"></td>
                                <td th:text="${exam.course.subject.tag}"></td>
                                <td th:text="${exam.examType.getName()}"></td>
                                <td><a href="#">ansehen</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Load React. The first two tags load React. A one third one will load your component code. -->
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
            <script th:inline="javascript">

                //workloadView
                var diagram = document.getElementById("workloadDiagram");
                var width = document.getElementById("content-wrapper").offsetWidth - 5;
                var barWidth = width / 7;
                var height = Math.floor(width / 5);
                diagram.width = width;
                diagram.height = height;

                //workload values in percent (0.3 for 30%)
                var mon = /*[[${workloadValueList[0]}]]*/ '0';
                var tue = /*[[${workloadValueList[1]}]]*/ '0';
                var wed = /*[[${workloadValueList[2]}]]*/ '0';
                var thu = /*[[${workloadValueList[3]}]]*/ '0';
                var fri = /*[[${workloadValueList[4]}]]*/ '0';
                var sat = /*[[${workloadValueList[5]}]]*/ '0';
                var sun = /*[[${workloadValueList[6]}]]*/ '0';

                var ctx = diagram.getContext("2d");
                var grd = ctx.createLinearGradient(0, height, 0, 0);

                var style = getComputedStyle(document.body)
                grd.addColorStop(0, style.getPropertyValue('--lightGreen'));
                grd.addColorStop(0.5, style.getPropertyValue('--orange'));
                grd.addColorStop(1, style.getPropertyValue('--lightRed'));

                ctx.fillStyle = grd;
                ctx.globalAlpha = 1;
                ctx.fillRect(0, height - mon * height, barWidth, height);
                ctx.fillRect(barWidth - 1, height - tue * height, barWidth + 1, height);
                ctx.fillRect(2 * barWidth - 1, height - wed * height, barWidth + 1, height);
                ctx.fillRect(3 * barWidth - 1, height - thu * height, barWidth + 1, height);
                ctx.fillRect(4 * barWidth - 1, height - fri * height, barWidth + 1, height);
                ctx.fillRect(5 * barWidth - 1, height - sat * height, barWidth + 1, height);
                ctx.fillRect(6 * barWidth - 1, height - sun * height, barWidth + 1, height);

                //this is the code for examBarView
                const Bar = ({ data }) => {
                    return /*#__PURE__*/ (
                        React.createElement("div", { className: "BarChart" },
                            data &&
                            data.map(d => {
                                return /*#__PURE__*/ (
                                    React.createElement("div", {
                                        className: "BarData",
                                        style: { background: `${d.color}`, width: `${d.percent}%` }
                                    }, /*#__PURE__*/
                                        (d.percent < 5 ? '' : React.createElement("p", { className: "PercentText" }, d.percent + "%"))));
                            })));
                };

                const stack100 = () => {
                    //assumed max value for exams per week: 6 (counting factor)
                    const data = [{ color: style.getPropertyValue('--lightGreen'), percent: Math.round(((6 - [[${ xFactor }]]) / 6) * 100) }, { color: style.getPropertyValue('--lightRed'), percent: Math.round(([[${ xFactor }]] / 6) * 100) }];
                    return /*#__PURE__*/ (
                        React.createElement("div", { className: "stack100" }, /*#__PURE__*/
                            React.createElement(Bar, { data: data })));

                };

                ReactDOM.render( /*#__PURE__*/ React.createElement(stack100, null), document.querySelector("#stack100"));
            </script>


        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>