<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Mein Profil</h1>
            <h2> Name </h2>
            <span th:text="${user.getFirstName()}"></span> <span th:text="${user.getLastName()}"></span><br><br>

            <h2> E-Mail Adresse (Username) </h2>
            <span th:text="${user.email}"></span>

            <br><br>
            <hr>

            <h1>SETTINGS</h1>

            <div>
                <a href="users/changePassword">> eigenes Password ändern</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <br>
                <br>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="users/show">> alle User ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="coreCourses/show">> alle Stammklassen ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="courses/show">> alle Kurse ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="subjects/show">> alle Fächer ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="semesters/show">> alle Semester ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="holidays/show">> alle Ferienzeiten/Sonderwochen ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="examtypes/show">> alle Prüfungstypen ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="preptimes/show">> alle Vorbereitungsintervalle ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="exams/show">> alle Leistungsbeurteilungen ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="homeworks/show">> alle Hausaufgaben ansehen und bearbeiten</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN', 'TEACHER', 'STUDENT')">
                <a href="semesterView/choose">> Semesterübersicht ansehen</a>
            </div>
            <!-- <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="workloads/show">> alle Workloads ansehen und bearbeiten</a>
            </div> -->

        </div>


        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
    </div>

</body>

</html>