<!DOCTYPE html>
<html th="https://www.thymleaf.org/">
        <meta charset="utf-8">
        <title> Registration Succeeded - CodeJava</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    </head>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <body>
        <div class ="container">
            <div>
            <h3>You have signed up successfully</h3>    
            <h4><a href="/login">Click here to log in</a></h4>
            </div>
        </div>
    </body>
</html>