<span style="font-size:1.5em; font-weight:bold;" th:if="${assignments.size == 0}">Nichts zu tun
    -
    Partytime!</span>
<table th:unless="${assignments.size == 0}">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Kurs</th>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Pruefungstyp</th>
            <th>Gewichtung</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="assignment, iStat : ${assignments}"
            th:style="${assignment.class.simpleName} == 'Exam' ? 'background-color:var(--lightOrange);' : ('background-color:var(--lighterOrange);')" th:classappend="${assignment.class.simpleName} == 'Exam' ? 'linkDetailExam' : (${assignment.class.simpleName} == 'Homework' ? 'linkDetailHomework' : '')" href="'/exams/details/'+${exam.id}">
            <!-- Date -->
            <td th:text="${#temporals.dayOfWeekNameShort(assignment.dueDate)} + ', ' + ${#temporals.format(assignment.dueDate, 'dd.MM.')}"></td>
            <!-- Course -->
            <td th:text="${assignment.course}"></td>            
            <!-- Name -->
            <td th:text="${assignment.name}"></td>
            <!-- Decription -->
            <td th:text="${assignment.description}" td:style="max-width: 20%; overflow: hidden; text-overflow: ellipsis;"></td>
            <!-- unnecessary? <td
                th:text="${assignment.workloadMinutesTotal} == 0 ? ${assignment.examType.timeValue}+'h' : ${assignment.workloadMinutesTotal}+'min'">
            </td>-->
            <!-- <td
                th:text="${#temporals.format(assignment.getRealStartDate, 'dd.MM.')} + ' / ' + ${assignment.getAvailableDaysTotal} + ' Tag'+ ${assignment.getAvailableDaysTotal==1?'':'e'}">
            </td> -->
            <td
                th:text="${assignment.class.simpleName} == 'Exam' ? ${assignment.examType.getName()} : '-'">
            </td>
            <td
                th:text="${assignment.class.simpleName} == 'Exam' ? ${assignment.countingFactor} : '-'">
            </td>
        </tr>
    </tbody>
</table>

<!-- <div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            Empty yet
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function(){
        $(".linkDetailExam").on("click", function(e){
            e.preventDefault();
            $("#myModal").modal("show").find(".modal-content").load($(this).attr("href"));
        });
    });
</script> -->