<span style="font-size:1.5em; font-weight:bold;" th:if="${examsThisWeek.size == 0}">keine Prüfungen</span>
<table th:unless="${examsThisWeek.size == 0}">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Fach</th>
            <th>Pruefungstyp</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="exam : ${examsThisWeek}">
            <td th:text="${#temporals.format(exam.dueDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${exam.course.subject.tag}"></td>
            <td th:text="${exam.examType.getName()}"></td>
            <td><a href="#">ansehen</a></td>
        </tr>
    </tbody>
</table>