<html>
<head>
    <link rel="stylesheet" href="100stack.css">
    </head>

<body>
      <!--Add an empty <div> tag to mark the spot where you want to display something with React.
      You can place a “container” <div> like this anywhere inside the <body> tag. You may have as 
      many independent DOM containers on one page as you need. 
      They are usually empty — React will replace any existing content inside DOM containers.-->
        <div> Dies ist dein Testbar</div>

      <div id="stack100"></div>

    <!-- Load React. The first two tags load React. The third one will load your component code. -->    
      <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
      <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
      <!-- Load our React component. -->
      <script src="100stack.js"></script>

</body>
</html>
