<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exama - Working with dates</title>
</head>
<body>

<h2>Format ISO - Anzeige von verschiedenen Fromaten </h2>
<p th:text="${#dates.formatISO(date)}"></p>
<p th:text="${#temporals.formatISO(localDate)}"></p>
<p th:text="${#temporals.formatISO(localDateTime)}"></p>
<p th:text="${#temporals.formatISO(java8Instant)}"></p>

<h2>Datum Formate z.B. "${#dates.format(date, 'dd.MM.yyyy')}"</h2>
<p th:text="${#dates.format(date, 'dd.MM.yyyy')}"></p>
<p th:text="${#temporals.format(java8Instant, 'dd-MM-yyyy HH:mm:ss')}"></p>
<p th:text="${#temporals.format(localDateTime, 'dd-MMMM-yyyy', new java.util.Locale('de', 'DE'))}">

<h2>Get date fields - z.B. th:text="${#temporals.monthName(localDateTime)}"</h2>
<table style="width:300px">
    <tr>
        <td>Date</td>
        <td>LocalDateTime</td>
    </tr>
    <tr>
        <td>
            <p th:text="${#dates.day(date)}"></p>
            <p th:text="${#dates.month(date)}"></p>
            <p th:text="${#dates.monthName(date)}"></p>
            <p th:text="${#dates.monthNameShort(date)}"></p>
            <p th:text="${#dates.year(date)}"></p>
            <p th:text="${#dates.dayOfWeek(date)}"></p>
            <p th:text="${#dates.dayOfWeekName(date)}"></p>
            <p th:text="${#dates.dayOfWeekNameShort(date)}"></p>

        </td>
        <td>
            <p th:text="${#temporals.day(localDateTime)}"></p>
            <p th:text="${#temporals.month(localDateTime)}"></p>
            <p th:text="${#temporals.monthName(localDateTime)}"></p>
            <p th:text="${#temporals.monthNameShort(localDateTime)}"></p>
            <p th:text="${#temporals.year(localDateTime)}"></p>
            <p th:text="${#temporals.dayOfWeek(localDateTime)}"></p>
            <p th:text="${#temporals.dayOfWeekName(localDateTime)}"></p>
            <p th:text="${#temporals.dayOfWeekNameShort(localDateTime)}"></p>

        </td>
    </tr>
</table>

</body>
</html>