<html lang="DE" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/style-main.css" type="text/css" media="screen" />

        <title>Exama | Login</title>
    </head>

    <body>
        <div id="wrapper">
            <div id="wrapper">
                <div id="logo-login"></div>
                <div id="login-wrapper">
                    <div id="login-form">
                        <form action="home-lehrer.html">
                            <input type="email" id="email-login" class="login-field" name="email" placeholder="Email">
                            <input type="password" id="password-login" class="login-field" name="password" placeholder="Passwort">
                            <input type="submit" class="login-button" value="Anmelden">
                        </form>
                    </div>
                </div>
            </div>
    </body>

</html>