.stack100 {
    height: 20rem;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
}

.BarChart {
    background-color: var(--white);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: inherit;
    /* inherit will take in the height of its parent, you could also 
        use 100% if the parent's height is set. */
    width: 4em;
    overflow: hidden;
}

.BarData {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PercentText {
    color: var(--black);
    font: 700 1.25rem sans-serif;
    text-align: center;
}