/* ----------------------- */
/* copyright 2021 by eXama */
/*      DIAGRAM STYLE      */
/* ----------------------- */



/* ------------------------------- */
/* ---------- variables ---------- */
/* ------------------------------- */

:root {
    --diagHeight: 15em;
    /* diag test (submitted by backend)*/
    --percMonday: 0.9999;
    --percTuesday: 0.8;
    --percWednesday: 0.5;
    --percThursday: 0.2;
    --percFriday: 0.4;
    --percSaturday: 0.6;
    --percSunday: 0.8;    
}



/* ---------------------------- */
/* ---------- styles ---------- */
/* ---------------------------- */

/* ---------- workload diagram ---------- */
#workloadDiagram{
    /*border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);*/
    width: 100%;
}
#day-buttons{
    clear: left;
    float: left;
    margin-top: 1em;
    width: 100%;
}
.day-button{
    position: relative;
    float: left;

    width: calc(100% / 7 - 2%);
    height: 2em;
    margin: 0 1% 0.5em 1%;
    
    background-color: var(--lightRed);
    border-radius: 0.5em;
   
    line-height: 2em;
    text-align: center;
    overflow: hidden;
}



/* --------------------------------------- */
/* ---------- responsive layout ---------- */
/* --------------------------------------- */

@media screen and (max-width: 2800px) {
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 1024px) and (orientation: portrait){
}

@media screen and (max-width: 1024px) and (orientation: landscape){
}