/* ----------------------- */
/* copyright 2021 by eXama */
/*     NAVIGATION STYLE    */
/* ----------------------- */



/* ------------------------------- */
/* ---------- variables ---------- */
/* ------------------------------- */

:root {
    --headerSize: 3em;
    --naviHeight: 2em;
}


/* ---------------------------- */
/* ---------- styles ---------- */
/* ---------------------------- */

/* ---------- navigation top ---------- */
#header {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;

    width:100%;
    height: var(--headerSize);

    background-color: var(--red);
}


#navigation-header {
    position: absolute;
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    left: calc((var(--headerSize) - var(--naviHeight)) / 2);
    width:auto;
    height: var(--naviHeight);
}


.navigation-header-item{
    position: relative;
    float: left;
    clear: none;

    width: var(--naviHeight);
    height: var(--naviHeight);
    margin: 0 var(--naviHeight) 0 0;

    background-size: contain;
    background-repeat: no-repeat;
}
.navigation-header-item:hover{
    cursor: pointer;
}


.nav-home{
    background-image:url(img/navigation-icons/home-w.svg);
}
.nav-home:hover{
    background-image:url(img/navigation-icons/home-r2.svg);
}
.nav-home:active{
    background-image:url(img/navigation-icons/home-r.svg);
}

.nav-teacher{
    background-image:url(img/navigation-icons/teacher-w.svg);
}
.nav-teacher:hover{
    background-image:url(img/navigation-icons/teacher-r2.svg);
}
.nav-teacher:active{
    background-image:url(img/navigation-icons/teacher-r.svg);
}

.nav-diagram{
    background-image:url(img/navigation-icons/diagram-w.svg);
}
.nav-diagram:hover{
    background-image:url(img/navigation-icons/diagram-r2.svg);
}
.nav-diagram:active{
    background-image:url(img/navigation-icons/diagram-r.svg);
}

.nav-addexam{
    background-image:url(img/navigation-icons/addexam-w.svg);
}
.nav-addexam:hover{
    background-image:url(img/navigation-icons/addexam-r2.svg);
}
.nav-addexam:active{
    background-image:url(img/navigation-icons/addexam-r.svg);
}

.nav-schoolsettings{
    background-image:url(img/navigation-icons/school-w.svg);
}
.nav-schoolsettings:hover{
    background-image:url(img/navigation-icons/school-r2.svg);
}
.nav-schoolsettings:active{
    background-image:url(img/navigation-icons/school-r.svg);
}

.nav-profile{
    width: var(--naviHeight);
    height: var(--naviHeight);
    background-size: contain;
    background-repeat: no-repeat;
    clear:left;
    float: left;
    margin: 0 calc(var(--naviHeight) * 0.5) 0 0;
    background-image: url(img/navigation-icons/profile-w.svg);
}
.nav-profile:hover{
    background-image: url(img/navigation-icons/profile-r2.svg);
}
.nav-profile:active{
    background-image: url(img/navigation-icons/profile-r.svg);
}


.nav-logout{
    width: calc(var(--naviHeight) * 0.9);
    height: calc(var(--naviHeight) * 0.9);
    margin: 0;
    background-image:url(img/navigation-icons/logout-w.svg);
    background-size: contain;
    background-repeat: no-repeat;
    clear:none;
    float: left;
}
.nav-logout:hover{
    background-image:url(img/navigation-icons/logout-r2.svg);
    cursor: pointer;
}

.nav-burgermenu{
    display: none;
    width: calc(var(--naviHeight) * 1.5);
    height: var(--naviHeight);
    background-image:url(img/navigation-icons/burger-w.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-burgermenu:hover{
    background-image:url(img/navigation-icons/burger-r2.svg);
    cursor: pointer;
}


#title {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0.25em);

    width: auto;
    height: calc(var(--naviHeight) * 0.75);
    font-size: calc(var(--naviHeight) * 0.75);
    line-height: calc(var(--naviHeight) * 0.75);
    color: var(--white);
    text-align: center;
}


#logout-profile {
    position: absolute;
    margin:0;
    padding:0;
    right: calc((var(--headerSize) - var(--naviHeight)) / 2);
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    width: calc(var(--naviHeight) * 2.5);
    height: var(--naviHeight);
}

/* ---------- navigation bottom ---------- */
#footer {
    display:none;

    position: fixed;
    bottom:0;
    left:0;
    z-index: 999;

    width:100%;
    height: var(--headerSize);
    background-color: var(--lightGray);
}


#navigation-footer {
    position: absolute;
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    left: calc((var(--headerSize) - var(--naviHeight)) / 2);

    width: calc(100% - (var(--headerSize) - var(--naviHeight)));
    height: var(--naviHeight);
}

.navigation-footer-item{
    position: relative;
    float: left;
    clear: none;

    width:var(--naviHeight);
    height:var(--naviHeight);
    margin-right: calc((100% - var(--naviHeight) - var(--numMenuItems) * var(--naviHeight)) / (var(--numMenuItems) - 1));

    background-size: contain;
    background-repeat: no-repeat;
}
.navigation-footer-item:hover{
    cursor: pointer;
}
.navigation-footer-item:first-of-type{
    margin-left: calc(var(--naviHeight) / 2) ;
}
.navigation-footer-item:last-of-type{
    margin-right: calc(var(--naviHeight) / 2);
}

.nav2-home{
    background-image:url(img/navigation-icons/home-r2.svg);
}
.nav2-home:hover{
    background-image:url(img/navigation-icons/home-r.svg);
}

.nav2-calendar{
    background-image:url(img/navigation-icons/diagram-r.svg);
}
.nav2-calendar:hover{
    background-image:url(img/navigation-icons/diagram-r.svg);
}

.nav2-notifications{
    background-image:url(img/navigation-icons/addexam-r2.svg);
}
.nav2-notifications:hover{
    background-image:url(img/navigation-icons/addexam-r.svg);
}

.nav2-settings{
    background-image:url(img/navigation-icons/school-r2.svg);
}
.nav2-settings:hover{
    background-image:url(img/navigation-icons/school-r.svg);
}


/* ---------- navigation left (course navigation) ---------- */
#course-navigation{position: fixed;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    width: 4em;
    height: auto;
    
    background-color: var(--red);
    border-radius: 0 1.5em 1.5em 0;

    color:var(--white);
    text-transform: uppercase;
}


.course-navigation-item, .course-navigation-item a{
    color: var(--white);
    width: 100%;
    padding: 0.67em 0;
    margin:0;
    border-radius: 0;
    text-align: center;
    font-size: 1.25em;
}
.course-navigation-item-first{
    border-radius: 0 1em 0 0;
}

.course-navigation-item-last{
    border-radius: 0 0 1em 0;
}

.course-navigation-item:hover{
    background-color: var(--lighterRed);
}
.course-navigation-item-active{
    background-color: var(--lighterRed);
    border-color: var(--red);
    border-width: 2px;
}


/* --------------------------------------- */
/* ---------- responsive layout ---------- */
/* --------------------------------------- */

@media screen and (max-width: 2800px) {
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
    /* #course-navigation, .nav-home, .nav-calendar, .nav-notifications, .nav-settings{
        display: none;
    }

    .nav-burgermenu{
        display: block;
    }

    #footer{
        display:block;
    }*/
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 1024px) and (orientation: portrait){
}

@media screen and (max-width: 1024px) and (orientation: landscape){
}