/* ----------------------- */
/* copyright 2021 by eXama */
/*     NAVIGATION STYLE    */
/* ----------------------- */



/* ------------------------------- */
/* ---------- variables ---------- */
/* ------------------------------- */

:root {
    --headerSize: 3em;
    --naviHeight: 2em;
}


/* ---------------------------- */
/* ---------- styles ---------- */
/* ---------------------------- */

/* ---------- navigation top ---------- */
#header {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;

    width:100%;
    height: var(--headerSize);

    background-color: var(--red);
}


#navigation-header {
    position: absolute;
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    left: calc((var(--headerSize) - var(--naviHeight)) / 2);
    width:auto;
    height: var(--naviHeight);
}


.navigation-header-item{
    position: relative;
    float: left;
    clear: none;

    width: var(--naviHeight);
    height: var(--naviHeight);
    margin: 0 var(--naviHeight) 0 0;

    background-size: contain;
    background-repeat: no-repeat;
}
.navigation-header-item:hover{
    cursor: pointer;
}


.nav-home{
    background-image:url(img/home_w.svg);
}
.nav-home:hover{
    background-image:url(img/home_r2.svg);
}

.nav-calendar{
    background-image:url(img/calendar_w.svg);
}
.nav-calendar:hover{
    background-image:url(img/calendar_r2.svg);
}

.nav-notifications{
    background-image:url(img/notification_w.svg);
}
.nav-notifications:hover{
    background-image:url(img/notification_r2.svg);
}

.nav-settings{
    background-image:url(img/settings_w.svg);
}
.nav-settings:hover{
    background-image:url(img/settings_r2.svg);
}

.nav-logout{
    width:100%;
    height:100%;
    background-image:url(img/logout_w.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-logout:hover{
    background-image:url(img/logout_r2.svg);
    cursor: pointer;
}

.nav-burgermenu{
    display: none;
    width: calc(var(--naviHeight) * 1.5);
    height: var(--naviHeight);
    background-image:url(img/burger_w.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-burgermenu:hover{
    background-image:url(img/burger_r2.svg);
    cursor: pointer;
}


#title {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0.25em);

    width: auto;
    height: calc(var(--naviHeight) * 0.75);
    font-size: calc(var(--naviHeight) * 0.75);
    line-height: calc(var(--naviHeight) * 0.75);
    color: var(--white);
    text-align: center;
}


#logout {
    position: absolute;
    right: calc((var(--headerSize) - var(--naviHeight)) / 2);
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    width: var(--naviHeight);
    height: var(--naviHeight);
}


/* ---------- navigation bottom ---------- */
#footer {
    display:none;

    position: fixed;
    bottom:0;
    left:0;
    z-index: 999;

    width:100%;
    height: var(--headerSize);
    background-color: var(--lightGray);
}


#navigation-footer {
    position: absolute;
    top: calc((var(--headerSize) - var(--naviHeight)) / 2);
    left: calc((var(--headerSize) - var(--naviHeight)) / 2);

    width: calc(100% - (var(--headerSize) - var(--naviHeight)));
    height: var(--naviHeight);
}

.navigation-footer-item{
    position: relative;
    float: left;
    clear: none;

    width:var(--naviHeight);
    height:var(--naviHeight);
    margin-right: calc((100% - var(--naviHeight) - var(--numMenuItems) * var(--naviHeight)) / (var(--numMenuItems) - 1));

    background-size: contain;
    background-repeat: no-repeat;
}
.navigation-footer-item:hover{
    cursor: pointer;
}
.navigation-footer-item:first-of-type{
    margin-left: calc(var(--naviHeight) / 2) ;
}
.navigation-footer-item:last-of-type{
    margin-right: calc(var(--naviHeight) / 2);
}

.nav2-home{
    background-image:url(img/home_r2.svg);
}
.nav2-home:hover{
    background-image:url(img/home_r.svg);
}

.nav2-calendar{
    background-image:url(img/calendar_r2.svg);
}
.nav2-calendar:hover{
    background-image:url(img/calendar_r.svg);
}

.nav2-notifications{
    background-image:url(img/notification_r2.svg);
}
.nav2-notifications:hover{
    background-image:url(img/notification_r.svg);
}

.nav2-settings{
    background-image:url(img/settings_r2.svg);
}
.nav2-settings:hover{
    background-image:url(img/settings_r.svg);
}


/* ---------- navigation left (course navigation) ---------- */
#course-navigation{position: fixed;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);

    width: 4em;
    height: auto;
    
    background-color: var(--red);
    border-radius: 0 1.5em 1.5em 0;

    color:var(--white);
    text-transform: uppercase;
}


.course-navigation-item, .course-navigation-item a{
    color: var(--white);
    width: 100%;
    padding: 0.67em 0;
    margin:0;
    border-radius: 0;
    text-align: center;
    font-size: 1.25em;
}
.course-navigation-item:active, .course-navigation-item:hover{
    background-color: var(--lighterRed);
}
.course-navigation-item:active{
    border-color: var(--red);
    border-width: 2px;
}
.course-navigation-item:first-of-type, .course-navigation-item:first-of-type:hover, .course-navigation-item:last-of-type:active{
    border-radius: 0 1em 0 0;
}

.course-navigation-item:last-of-type, .course-navigation-item:last-of-type:hover, .course-navigation-item:last-of-type:active{
    border-radius: 0 0 1em 0;
}



/* --------------------------------------- */
/* ---------- responsive layout ---------- */
/* --------------------------------------- */

@media screen and (max-width: 2800px) {
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
    #course-navigation, .nav-home, .nav-calendar, .nav-notifications, .nav-settings{
        display: none;
    }

    .nav-burgermenu{
        display: block;
    }

    #footer{
        display:block;
    }
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 1024px) and (orientation: portrait){
}

@media screen and (max-width: 1024px) and (orientation: landscape){
}