/* ----------------------- */


/* copyright 2021 by eXama */


/*        MAIN STYLE       */


/* ----------------------- */


/* -------------------------------------- */


/* ---------- import specific css ---------- */


/* -------------------------------------- */


/* login */

@import url('pagespecific/login.css');

/* navigation */

@import url('navigation.css');

/* workload diagram */

@import url('pagespecific/diagram.css');

/* specialeffects */

@import url('specialeffects.css');
@import url('100stack.css');
@import url('tablescroll.css');


/* pagespecific */

@import url('pagespecific/login.css');
@import url('pagespecific/settings.css');
@import url('pagespecific/createAssignmentIndex.css');
@import url('pagespecific/profile.css');
@import url('pagespecific/profile2.css');

/* ------------------------------- */


/* ---------- variables ---------- */


/* ------------------------------- */

:root {
    /* color-scheme */
    --white: #FFFFFF;
    --gray: #AAAAAA;
    --lighterGray: #EAEAEA;
    --lightGray: #DBDBDB;
    --black: #000000;
    --green: #044B1C;
    --lightGreen: #089739;
    --lighterGreen: #74D693;
    --blue: #063A75;
    --lightBlue: #3C8FEF;
    --lighterBlue: #CEE3FB;
    --orange: #DE7A16;
    --lightOrange: #F7CA86;
    --lighterOrange: #F8E4D0;
    --red: #8A0500;
    --lightRed: #A13733;
    --darkerRed: #C19698;
    --lighterRed: #E8CDCC;
    --examRed: #FF7F86;
}


/* --------------------------- */


/* ---------- fonts ---------- */


/* --------------------------- */

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-Regular.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-Italic.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-SemiBoldItalic.ttf) format("opentype");
}


/* ---------------------------- */


/* ---------- styles ---------- */


/* ---------------------------- */


/* ---------- structure of styles ---------- */


/*
name {
    visibility
    positioning (incl. clear/float)
    dimensions (incl. margin/padding)
    backgrounds and borders
    font
    other
}
*/


/* ---------- preset ---------- */

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
table,
td,
th,
form {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
}

*/
/* ---------- overall styles ---------- */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Montserrat';
    font-size: 20px;
    color: var(--black);
    /* macht langsamen scroll verhalten, wenn automatisch gescrollt wird*/
    scroll-behavior: smooth;
}

a {
    color: var(--lightRed);
}

a:hover {
    color: var(--red);
    text-decoration: none;
}


/*provisorisch*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#wrapper {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

table {
    font-size: 1.2em;
    overflow-x: auto;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--black);
}

td,
th {
    /* border-left: 1px solid var(--black);
    border-right: 1px solid var(--black); */
    border: 1px solid var(--black);
    padding: 0.2em;
}

tr:nth-child(even) {
    background-color: var(--lighterGray);
}

tr:hover {
    background-color: var(--lightGray);
}

thead,
thead>tr:hover {
    background-color: var(--lighterRed);
}

.scrollableTable {
    overflow-y: scroll;
    scrollbar-width: none;
    /*Hide scrollbar for Firefox */
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    display: none;
    height: 100px;
    width: 100%;
    display: block;
}

textarea {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: block;
    resize: none;
}


/* ---------- content area ---------- */

#content-wrapper {
    position: absolute;
    left: 50%;
    top: 4em;
    -webkit-transform: translate(-50%, 0.5em);
    transform: translate(-50%, 0.5em);
    width: 80%;
    max-width: 2400px;
    height: calc(100% - 6em);
    margin: 0.5em 0 0 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
}

#content-wrapper::-webkit-scrollbar {
    display: none;
}

.welcome-text {
    width: 100%;
    text-align: center;
    clear: left;
    float: left;
    margin-bottom: 2em;
}

.landingOption {
    width: 10em;
    height: 10em;
    margin: 0;
    clear: none;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landingOptionTeacher {
    margin: 0 5% 0 calc(45% - 10em);
    background-image: url(img/navigation-icons/teacher-b.svg);
}

.landingOptionTeacher:hover {
    background-image: url(img/navigation-icons/teacher-r.svg);
}

.landingOptionAdmin {
    margin: 0 calc(45% - 10em) 0 5%;
    background-image: url(img/navigation-icons/school-b.svg);
}

.landingOptionAdmin:hover {
    background-image: url(img/navigation-icons/school-r.svg);
}

.optionalParametersTitle {
    width: 100%;
    clear: left;
    float: left;
    font-size: 0.6em;
    text-transform: uppercase;
    color: var(--red);
    cursor: pointer;
    margin: 0.5em 0 1em 0;
}

.optionalParameters {
    width: 100%;
    clear: left;
    float: left;
    display: none;
    margin: 0 0 0.4em 0;
}

.save-button {
    width: auto;
    height: auto;
    float: left;
    clear: left;
    padding: 0.25em 0.5em;
    background-color: var(--red);
    border-radius: 0.5em;
    font-size: 0.8em;
    color: var(--white);
    margin: 0 0 0.75em 0;
}

.save-button:hover {
    background-color: var(--lightRed);
}


/* ---------- boxes ---------- */


/* 100% of parent div */

.content-box-full {
    float: left;
    clear: left;
    width: 100%;
}


/* 50% of parent div minus margin */

.content-box-half {
    float: left;
    clear: left;
    width: calc(50% - 0.5em);
}

.content-box-half-even {
    clear: none;
    margin: 0 0 1em 1em !important;
}


/* general */

.content-box-full,
.content-box-half {
    position: relative;
    height: auto;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: var(--lighterGray);
}

.content-box-header {
    width: 100%;
    height: 1.75em;
    margin: 0;
    padding: 0.3em 0.5em 0.5em 0.5em;
    background-color: var(--lightGray);
    font-size: 1.25em;
    line-height: 1.25em;
    color: var(--red);
    text-transform: uppercase;
}

.content-box-content {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0.5em;
}

.content-box-toggle{
    width: 1.75em;
    height:1.75em;
    color:var(--white);
    background-image: url(img/arrow-down-w.svg);
    background-size: contain;
    font-weight: bold;
    background-color: var(--red);
    position:absolute;
    top:0;
    right:0;
}
.rotate180{
    transform: rotate(180deg);
}


/* --------------------------------------- */


/* ---------- responsive layout ---------- */


/* --------------------------------------- */

@media screen and (max-width: 2800px) {
    html,
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 2000px) {
    html,
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        font-size: 15px;
    }
    #content-wrapper {
        width: calc(100% - 2em);
        height: calc(100% - 10em);
    }
    .content-box-half,
    .content-box-half-even {
        clear: left;
        margin: 0 0 1em 0 !important;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {}

@media screen and (max-width: 1024px) and (orientation: landscape) {}