/* ----------------------- */


/* copyright 2021 by eXama */


/*        MAIN STYLE       */


/* ----------------------- */


/* -------------------------------------- */


/* ---------- import specific css ---------- */


/* -------------------------------------- */


/* login */

@import url('pagespecific/login.css');

/* navigation */

@import url('navigation.css');

/* workload diagram */

@import url('pagespecific/diagram.css');

/* specialeffects */

@import url('specialeffects.css');
@import url('100stack.css');

/* pagespecific */
@import url('pagespecific/login.css');
@import url('pagespecific/settings.css');

/* ------------------------------- */


/* ---------- variables ---------- */


/* ------------------------------- */

:root {
    /* color-scheme */
    --white: #FFFFFF;
    --gray: #AAAAAA;
    --lighterGray: #EAEAEA;
    --lightGray: #DBDBDB;
    --black: #000000;
    --green: #00A511;
    --orange: #FF9900;
    --red: #751F1F;
    --lightRed: #BC9999;
    /*other variables later submitted by backend*/
    --numMenuItems: 4;
}


/* --------------------------- */


/* ---------- fonts ---------- */


/* --------------------------- */

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-Regular.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-Italic.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local('Montserrat'), url(fonts/Montserrat-SemiBoldItalic.ttf) format("opentype");
}


/* ---------------------------- */


/* ---------- styles ---------- */


/* ---------------------------- */


/* ---------- structure of styles ---------- */


/*
name {
    visibility
    positioning (incl. clear/float)
    dimensions (incl. margin/padding)
    backgrounds and borders
    font
    other
}
*/


/* ---------- overall styles ---------- */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: 'Montserrat';
    font-size: 20px;
    color: var(--black);
    /* macht langsamen scroll verhalten, wenn automatisch gescrollt wird*/
    scroll-behavior: smooth;
}


/*provisorisch*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

#wrapper {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

table {
    overflow-x: auto;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--black);
}

tr:nth-child(even) {
    background-color: var(--lighterGray);
}

tr:hover {
    background-color: var(--lightGray)
}

thead,
thead>tr:hover {
    background-color: var(--lightRed);
    border: 1px solid var(--black);
}

.scrollableTable {
    overflow-y: scroll;
    scrollbar-width: none;
    /*Hide scrollbar for Firefox */
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    display: none;
    height: 100px;
    width: 100%;
    display: block;
}

textarea {
    overflow-y: scroll;
    scrollbar-width: none;
    /*Hide scrollbar for Firefox */
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    display: block;
    height: 25px;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
}


/* ---------- content area ---------- */

#content-wrapper {
    position: absolute;
    left: 50%;
    top: 4em;
    -webkit-transform: translate(-50%, 0.5em);
    transform: translate(-50%, 0.5em);
    width: 80%;
    max-width: 2400px;
    height: calc(100% - 6em);
    margin: 0.5em 0 0 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#content-wrapper::-webkit-scrollbar {
    display: none;
}


/* ---------- boxes ---------- */


/* 100% of parent div */
.content-box-full{
    float: left;
    clear: left;
    width: 100%;
}
/* 50% of parent div minus margin */
.content-box-half{
    float: left;
    clear: left;
    width: calc(50% - 0.5em);
}
.content-box-half:nth-child(even){
    clear: none;
    margin-left:1em;
}
/* general */
.content-box-full, .content-box-half {
    position: relative;
    height: auto;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: var(--lighterGray);
}

.content-box-header {
    width: 100%;
    height: 2em;
    margin: 0;
    padding: 0.3em 0.5em 0.5em 0.5em;
    background-color: var(--lightGray);
    font-size: 1.5em;
    line-height: 1.5em;
    color: var(--red);
    text-transform: uppercase;
}

.content-box-content{
    width: 100%;
    height: auto;
    margin:0;
    padding: 0.5em;
}

/* --------------------------------------- */


/* ---------- responsive layout ---------- */


/* --------------------------------------- */

@media screen and (max-width: 2800px) {
    html,
    body {
        font-size: 20px;
    }
}

@media screen and (max-width: 2000px) {
    html,
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        font-size: 15px;
    }
    #content-wrapper {
        width: calc(100% - 2em);
        height: calc(100% - 10em);
    }
}

@media screen and (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {}

@media screen and (max-width: 1024px) and (orientation: landscape) {}