<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Neue Klasse erstellen</h1>
            <a href="/courses/show">> alle Klassen anzeigen</a><br><br><br>

            <form th:action="@{/courses/created}" th:object="${course}" method="post">
                <div>
                    <label>Klassen name: </label>
                    <div>
                        <input type="text" th:field="*{name}" class="form-control" required minlength="1"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Aktiv: </label>
                    <div>
                        <input type="checkbox" th:checked="*{enabled}" class="form-control" />
                    </div>
                </div>
                <br>
                <div>
                    <button type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>