<html lang="DE" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Kurse</h1>
            <a href="/courses/create">> neuen Kurs hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Kurs ID</th>
                        <th>Kurs Name</th>
                        <th>Aktiv</th>
                        <th>Fach</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course: ${allCourses}">
                        <td th:text="${course.id}"></td>
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.enabled}"></td>
                        <td th:text="${course.subject}"></td>
                        <td><a th:href="@{/courses/edit?id={id}(id=${course.id})}">bearbeiten</a></td>
                        <td><a th:href="@{/courses/delete?id={id}(id=${course.id})}">löschen</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>