<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>ADMIN-LANDING</h1>

            Willkommen <b><span sec:authentication="name"></span></b>! Sie haben die folgenden Nutzerrechte: <b><span
                    sec:authentication="principal.authorities"></span></b>!

            <h1>Admin Settings</h1>
            
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="exams/show">> zu den Prüfungen</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="users/create">> zu den Usern</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="users/show">> zu den Usern</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="subjects/show">> zu den Fächern</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="examtypes/show">> zu den Prüfungstypen</a>
            </div>
            <div sec:authorize="hasAnyAuthority('SYSTEMADMIN', 'ADMIN')">
                <a href="preptimes/show">> zu den Vorbereitungsintervallen</a>
            </div>

        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer">
        </div>
</body>

</html>