<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="/fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="/fragments/header :: header"></div>

        <div th:include="/fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Vorbereitungszeiten bearbeiten</h1>
            <a href="/preptimes/show">> alle Prüfungstypen anzeigen</a><br><br><br>

            <form
                th:action="@{/preptimes/{id}/edited?name={name}&days={days}(id=${prepTime.id},name=${prepTime.name},days=${prepTime.days})}"
                th:object="${prepTime}" method="put">
                <div>
                    <label>PrepTime Name: </label>
                    <div>
                        <input type="text" th:field="*{name}" class="form-control" required minlength="1"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>PrepTime Days: </label>
                    <div>
                        <input type="text" th:field="*{days}" class="form-control" required minlength="1"
                            maxlength="3" />
                    </div>
                </div>
                <div>
                    <button type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="/fragments/footer :: footer"></div>
</body>

</html>