<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Mein Profil</h1>
				<p>
	            	<h2> Name </h2>
	            	
	        		<br> <span th:text="${user.getFirstName()}"></span><br><br>
	            		
	            	<h2> E-Mail Adresse </h2>
	        		
	        		<br> <span th:text="${user.email}"></span><br>
	            	
	            
        </div>
        

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
        </div>
        
</body>

</html>