<html lang="DE" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
  <div id="wrapper">
    <!-- header with navigation (only desktop and tablet), title and logout-button -->
    <div th:include="fragments/header :: header"></div>

    <div th:include="fragments/coursenavigation :: coursenavigation"></div>
    <!-- content displayed in the center of the window -->
    <div id="content-wrapper">

      <h1>Semester erfassen</h1>
            <!-- Values for th:object attributes in form tags must be variable expressions (${...}). It specifies the NAME OF THE MODEL ATTRIBUTE!! So: ${mime.editDate} would not be. -->
            <!-- Once you are working inside the <form> tag, no other th:object attribute can be specified. This is consistent with the fact that HTML forms cannot be nested.-->
                <form th:action="@{/semesters/modified}" th:object="${semester}" method="post">
                  <input type="hidden" th:field="*{id}" th:value="${semester.id}" />
                    <div>
                        <div>
                            <label>Semsestername (HS/FS SJ): </label>
                            <input type="text" th:field="*{name}" class="form-control" maxlength="30"/>
                        </div>
                        <br>
                        <div>
                            <label>Semesteranfang: </label>
                            <input type="text" th:field="*{startDate}" id="fromDate" class="form-control" required>
                            </label>Ferienende:</label> 
                            <input type="text" th:field="*{endDate}" id="toDate" class="form-control" required>
                        </div>
                        
                        <br>
                        <div>
                            <label>Maximale Anzahl Prüfungen pro Woche: </label>
                            <input type="number" th:field="*{maxNumberOfExams}" class="form-control" required
                            minlength="1" maxlength="2"/>
                        </div>
                        <br>
                        <br>
                        <div>
                            <label>Aktiv: </label>
                        <div>
                            <input type="checkbox" th:field="*{enabled}" th:checked="*{enabled}" class="form-control"/>
                        </div>
                        </div>
                        <br>
                        <div>
                            <label>Bereits zur Verfügung stehende Ferien: </label>
                            <select multiple id="langOpt" th:field="*{holidays}" class="form-control"/>
                            <option th:each="Holiday : ${allHolidays}" th:text="${Holiday.name}"
                                th:value="${Holiday.id}" th:selected="${#lists.contains(semester.holidays, Holiday)}" />
                            </select>
                        </div>
                         <br>

                        <div>
                            <button type="submit" class="login-button">Semester erstellen</button>
                        </div>
                    </div>
                </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>