<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="/fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="/fragments/header :: header"></div>

        <div th:include="/fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Fächer bearbeiten | Neues Fach erstellen</h1>
            <a href="/subjects/create">> neues Fach hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Subject ID</th>
                        <th>Subject Name</th>
                        <th>Subject Tag</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="subject: ${listSubjects}">
                        <td th:text="${subject.id}"></td>
                        <td th:text="${subject.name}"></td>
                        <td th:text="${subject.tag}"></td>
                        <td><a th:href="@{/subjects/{id}/edit(id=${subject.id})}">bearbeiten</a></td>
                        <td><a th:href="@{/subjects/{id}/delete(id=${subject.id})}">löschen</a></td>
                        </a>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="/fragments/footer :: footer"></div>
</body>

</html>