<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Neuen Nutzer erstellen</h1>
            <a href="/users/show">> alle User anzeigen</a><br><br><br>

            <form th:action="@{/users/created}" onsubmit="checkMatchingPasswords(this);" th:object="${user}" method="post">
                <div>
                    <label>Email (Username): </label>
                    <div>
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>
                <br>
                <div>
                    <label>Passwort: </label>
                    <div>
                        <input name="PW1" type="password" th:field="*{password}" class="form-control" required
                            minlength="6" maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Passwort wiederholen (not working yet): </label>
                    <div>
                        <input name="PW2" type="password" class="form-control" required minlength="6" maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Vorname: </label>
                    <div>
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Nachname: </label>
                    <div>
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Kürzel: </label>
                    <div>
                        <input type="text" th:field="*{abbreviation}" class="form-control" minlength="2"
                            maxlength="3" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Aktiv: </label>
                    <div>
                        <input type="checkbox" th:field="*{enabled}" th:checked="*{enabled}" class="form-control"/>
                    </div>
                </div>
                <br>
                <div>
                    <label>Stammklasse (nur Schüler): </label>
                    <select th:field="*{coreCourse}" class="form-control"/>
                    <option th:text="---" th:value="NULL"></option>
                    <option th:each="coreCourse : ${allCoreCourses}" th:text="${coreCourse.name}"
                        th:selected="(${coreCourse} == *{coreCourse})" th:value="${coreCourse.id}" />
                    </select>
                </div>
                <br>
                <div>
                    <label>Kurse: </label>
                    <select multiple id="langOpt" th:field="*{courses}" class="form-control" />
                    <option th:each="course : ${allCourses}" th:text="${course.name}" th:value="${course.id}" />
                    </select>
                </div>
                <br>
                <div>
                    <label>Rolle(n): </label>
                    <select multiple id="langOpt" th:field="*{roles}" class="form-control" />
                    <option th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" />
                    </select>
                </div>
                <br>
                <div>
                    <button type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
        <script type="text/javascript">
            function checkMatchingPasswords(form) {
                if (form.PW1.value != theForm.PW2.value) {
                    alert('Die Passwörter stimmen nicht überein');
                    return false;
                } else {
                    return true;
                }
            }
        </script>
</body>

</html>