<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>User bearbeiten</h1>
            <a href="/users/show">> alle User anzeigen</a><br><br><br>

            <form th:action="@{/users/edited}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
                <input type="hidden" th:field="*{createdOn}" th:value="${user.createdOn}"/>
                <input type="hidden" th:field="*{password}" th:value="${user.password}"/>
                <div>
                    <label>Email (Username): </label>
                    <div>
                        <input type="email" th:field="*{email}" class="form-control" required />
                    </div>
                </div>
                <br>
                <div>
                    <label>Passwort: </label>
                    <div>
                        <a th:href="@{/users/resetPassword?id={id}(id=*{id})}">> Passwort neu setzen</a>
                    </div>
                </div>
                <br>
                <div>
                    <label>Vorname: </label>
                    <div>
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Nachname: </label>
                    <div>
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2"
                            maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Kürzel: </label>
                    <div>
                        <input type="text" th:field="*{abbreviation}" class="form-control" minlength="2"
                            maxlength="3" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Aktiv: </label>
                    <div>
                        <input type="checkbox" th:field="*{enabled}" th:checked="*{enabled}" class="form-control"/>
                    </div>
                </div>
                <br>
                <div>
                    <label>Stammklasse (nur Schüler): </label>
                    <select th:field="*{coreCourse}" class="form-control" required />
                    <option th:each="coreCourse : ${allCoreCourses}" th:text="${coreCourse.name}"
                        th:selected="(${coreCourse} == *{coreCourse})" th:value="${coreCourse.id}" />
                    </select>
                </div>
                <br>
                <div>
                    <label>Kurse: </label>
                    <select multiple id="langOpt" th:field="*{courses}" class="form-control" />
                    <option th:each="course : ${allCourses}" th:text="${course.name}" th:value="${course.id}" th:selected="${#lists.contains(user.courses, course)}" />
                    </select>
                </div>
                <br>
                <div>
                    <label>Rolle(n): </label>
                    <select multiple id="langOpt" th:field="*{roles}" class="form-control" />
                    <option th:each="role : ${allRoles}" th:text="${role.name}" th:value="${role.id}" th:selected="${#lists.contains(user.roles, role)}"/>
                    </select>
                </div>
                <br>
                <div>
                    <button type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>