<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<!-- <script>
function chkFormular()
{
    if(document.Formular.PW1.value!=document.Formular.PW2.value) {
        alert("Die von ihnen eingegebenen Passwörter sind nicht identisch!");
        document.Formular.PW1.value = "";
        document.Formular.PW2.value = "";
        document.Formular.PW1.focus();
        return false;
    }
}
</script> -->



<!-- <script>
    let  myform = document.getElementById('myform');
    myform.addEventListener('submit',function (evt) {
    if(document.Formular.PW1.value!=document.Formular.PW2.value) {
        alert("Die von ihnen eingegebenen Passwörter sind nicht identisch!");
        document.Formular.PW1.value = "";
        document.Formular.PW2.value = "";
        document.Formular.PW1.focus();
        evt.preventDefault();
    }
        
    });
</script> -->


<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>sdsdfsfd vPasswort zurücksetzen</h1>
            <a href="/users/show">> alle Userinen anzeigen</a><br><br><br>

            <form name="Formular" th:action="@{/users/passwordReseted}" th:object="${user}" method="post" onsubmit="chkFormular()">
                <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
                <input type="hidden" th:field="*{email}" th:value="${user.email}"/>
                <input type="hidden" th:field="*{firstName}" th:value="${user.firstName}"/>
                <input type="hidden" th:field="*{lastName}" th:value="${user.lastName}"/>
                <!-- <input type="hidden" th:field="*{password}" th:value="${user.password}"/> -->
                <input type="hidden" th:field="*{abbreviation}" th:value="${user.abbreviation}"/>
                <input type="hidden" th:field="*{enabled}" th:value="${user.enabled}"/>
                <input type="hidden" th:field="*{loggedIn}" th:value="${user.loggedIn}"/>
                <input type="hidden" th:field="*{lastLogin}" th:value="${user.lastLogin}"/>
                <input type="hidden" th:field="*{createdOn}" th:value="${user.createdOn}"/>
                <input type="hidden" th:field="*{coreCourse}" th:value="${user.coreCourse}"/>
                <input type="hidden" th:field="*{courses}" th:value="${user.courses}"/>
                <input type="hidden" th:field="*{roles}" th:value="${user.roles}"/>
                <div>
                    <label th:text="${user}"></label>
                </div>
                <div>
                    <label>Passwort: </label>
                    <div>
                        <input id="PW1" type="password" th:field="*{password}" class="form-control" required
                            minlength="6" maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Passwort wiederholen (not working yet): </label>
                    <div>
                        <input id="PW2" type="password" class="form-control" required minlength="6" maxlength="20" />
                    </div>
                    <!-- <div>
                        <input type="hidden" name="PW" th:field="*{password}" th:value="document.Formular.PW1.value" />
                    </div> -->
                </div>
                <br>
                <div>
                    <button id="submitButton" type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>
<!-- 
        <script>
            // var pwd1 = $("#PW1");
            // var pwd2 = $("#PW2");
            // var subBut = $("#submitButton");
            var bt = document.getElementById('submitButton');
            $(pwd2).change(function(){
                if(pwd1.val()!=pwd2.val()){
                    //subBut.disabled = false;
                    alert("Die von ihnen eingegebenen Passwörter sind nicht identisch!");
                    pwd1.val() = "";
                    pwd2.val() = "";
                    pwd1.focus();
                }
                if(pwd1.val()==pwd2.val()){
                     //subBut.disabled = true;
                     subBut.show();
                 }
            });
        </script> -->

        <!-- <script>
            var pwd1 = $("#PW1");
            var pwd2 = $("#PW2");
            var subBut = $("#submitButton");
            subBut.disabled = true;
            function manage(pwd2) {
                //var bt = document.getElementById('submitButton');
                if (pwd.val() == pwd2.val()) {
                    subBut.disabled = false;
                }
                else {
                    subBut.disabled = true;
                }
            }
        
        </script> -->

        <script>
            var password1 = document.getElementById('PW1');
            var password2 = document.getElementById('PW2');

            var checkPasswordValidity = function() {
                if (password1.value != password2.value) {
                    password2.setCustomValidity('Passwörter müssen übereinstimmen!');
                } else {
                    password2.setCustomValidity('');
                }        
            };

            password1.addEventListener('change', checkPasswordValidity);
            password2.addEventListener('change', checkPasswordValidity);
        </script>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>