<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Users bearbeitn</h1>
            <a href="/users/create">> neuen User hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Rechte</th>
                        <th>Aktiv</th>
                        <th>Blockiert</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.roles}"></td>
                        <td th:text="${user.isEnabled}"></td>
                        <td th:text="${user.isLocked}"></td>
                        <td><a th:href="@{/users/{email}/edit/(email=${user.email})}">bearbeiten</a></td>
                        <td><a th:href="@{/users/{email}/delete(email=${user.email})}">löschen</a></td>
                        </a>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>