<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Users</h1>
            <a href="/users/create">> neuen User hinzufügen</a><br><br>

            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Kürzel</th>
                        <th>Aktiv</th>
                        <th>LoggedIn</th>
                        <th>Last Login</th>
                        <th>Created On</th>
                        <th>Stammklasse</th>
                        <th>Kurse</th>
                        <th>Rolle(n)</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.abbreviation}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td th:text="${user.loggedIn}"></td>
                        <td th:text="${user.lastLogin}"></td>
                        <td th:text="${user.createdOn}"></td>
                        <td th:text="${user.coreCourse}"></td>
                        <td><p th:each="c:${user.courses}" th:text="${c}"></p></td>
                        <td><p th:each="r:${user.roles}" th:text="${r}"></p></td>
                        <td><a th:href="@{/users/edit?id={id}(id=${user.id})}">bearbeiten</a></td>
                        <td><a th:href="@{/users/delete?id={id}(id=${user.id})}">löschen</a></td>
                        </a>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>