<html lang="DE" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="fragments/head :: head"></head>

<body>
    <div id="wrapper">
        <!-- header with navigation (only desktop and tablet), title and logout-button -->
        <div th:include="fragments/header :: header"></div>

        <div th:include="fragments/coursenavigation :: coursenavigation"></div>

        <!-- content displayed in the center of the window -->
        <div id="content-wrapper">
            <h1>Passwort zurücksetzen</h1>
            <a href="/users/show">> alle User anzeigen</a><br><br><br>

            <form th:action="@{/users/passwordReseted}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
                <input type="hidden" th:field="*{email}" th:value="${user.email}"/>
                <input type="hidden" th:field="*{firstName}" th:value="${user.firstName}"/>
                <input type="hidden" th:field="*{lastName}" th:value="${user.lastName}"/>
                <input type="hidden" th:field="*{abbreviation}" th:value="${user.abbreviation}"/>
                <input type="hidden" th:field="*{enabled}" th:value="${user.enabled}"/>
                <input type="hidden" th:field="*{loggedIn}" th:value="${user.loggedIn}"/>
                <input type="hidden" th:field="*{lastLogin}" th:value="${user.lastLogin}"/>
                <input type="hidden" th:field="*{createdOn}" th:value="${user.createdOn}"/>
                <input type="hidden" th:field="*{coreCourse}" th:value="${user.coreCourse}"/>
                <input type="hidden" th:field="*{courses}" th:value="${user.courses}"/>
                <input type="hidden" th:field="*{roles}" th:value="${user.roles}"/>
                <div>
                    <label th:text="${user}"></label>
                </div>
                <div>
                    <label>Passwort (mindestens 6 Zeichen): </label>
                    <div>
                        <input id="PW1" type="password" th:field="*{password}" class="form-control" required
                            minlength="6" maxlength="20" />
                    </div>
                </div>
                <br>
                <div>
                    <label>Passwort bestätigen: </label>
                    <div>
                        <input id="PW2" type="password" class="form-control" required minlength="6" maxlength="20" />
                    </div>
                </div>
                <br><br>
                <div>
                    <button type="submit" class="login-button">Speichern</button>
                </div>
            </form>
        </div>

        <script>
            var password1 = document.getElementById('PW1');
            var password2 = document.getElementById('PW2');

            var checkPasswordValidity = function() {
                if (password1.value != password2.value) {
                    password2.setCustomValidity('Passwörter müssen übereinstimmen!');
                } else {
                    password2.setCustomValidity('');
                }        
            };

            password1.addEventListener('change', checkPasswordValidity);
            password2.addEventListener('change', checkPasswordValidity);
        </script>

        <!-- footer with navigation (only mobile) -->
        <div th:include="fragments/footer :: footer"></div>
</body>

</html>