.form-control{
    clear: left;
    float:left;
    width: 100%;
}
.exam-start{
    clear: none;
    float: left;
    margin: 0 0.5em 0.5em 0;
    width: calc(100% / 3 - 0.333em)
}
.homework-start{
    clear: none;
    float: left;
    margin: 0 0.5em 0.5em 0;
    width: calc(50% - 0.25em)
}
.exam-start-course, .exam-start-preptime, .exam-start-startdate{
    clear: left;
}
.homework-start-course, .homework-start-workloadminutes{
    clear: left;
}
.exam-start-type, .exam-start-factor, .exam-start-distribution, .homework-start-distribution, .homework-start-duedate{
    margin: 0 0 0.5em 0;
}
.exam-start-name{
    clear: left;
    width:100%;
    margin: 0 0 0.5em 0;
}
.exam-start-description, .exam-start-description>textarea{
    clear: left;
    width: 100%;
    margin: 0 0 0.5em 0 !important;
}
textarea.exam-start-description{
    margin: 0 !important;
}