/* ----------------------- */
/* copyright 2021 by eXama */
/*      DIAGRAM STYLE      */
/* ----------------------- */



/* ------------------------------- */
/* ---------- variables ---------- */
/* ------------------------------- */

:root {  

}



/* ---------------------------- */
/* ---------- styles ---------- */
/* ---------------------------- */

/* ---------- workload diagram ---------- */
#workloadDiagram{
    /*border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);*/
    width: 100%;
}
#day-buttons{
    clear: left;
    float: left;
    margin: 0 0 0.5em 0;
    padding-top: 0.25em;
    width: 100%;
    background: var(--lightGreen);
}
.day-button{
    position: relative;
    float: left;

    width: calc(100% / 7);
    height: 1.5em;
    margin: 0;
    
    border-right: 1px solid var(--black);
   
    line-height: 1.5em;
    text-align: center;
    overflow: hidden;
}
.day-button:last-of-type{
    border-right: none;
}

.week-navigation{
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 0 0.5em 0;
    padding: 0;
}
.last-week, .next-week, .this-week{
    position: absolute;
    top:0;
}
.last-week{
    left: 0;
}
.next-week{
    right: 0;
}
.this-week{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}



/* --------------------------------------- */
/* ---------- responsive layout ---------- */
/* --------------------------------------- */

@media screen and (max-width: 2800px) {
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 1024px) and (orientation: portrait){
}

@media screen and (max-width: 1024px) and (orientation: landscape){
}