/* ----------------------- */
/* copyright 2021 by eXama */
/*       LOGIN STYLE       */
/* ----------------------- */



/* ------------------------------- */
/* ---------- variables ---------- */
/* ------------------------------- */

/*
:root {
    ... 
}
*/



/* ---------------------------- */
/* ---------- styles ---------- */
/* ---------------------------- */

#logo-login {
    position: relative;
    clear: left;
    float: left;

    width: 80%;
    height: 100%;

    background-color: var(--red);
    background-image: url(../img/logo-w.svg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:50%;
}


#login-wrapper {
    position: relative;
    clear: none;
    float: left;

    width: 20%;
    height: 100%;

    font-size: 1.5em;
    font-family: 'Montserrat';
}

fieldset{
    border: none;
}

#login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width:80%;
}


.login-field, .login-button {
    clear: left;
    float: left;

    width: 100%;
    height: 2.5em;
    margin: 0 0 1em;
    padding: 0 0 0 1em;
    
    border: var(--black) 2px solid;
    border-radius: 1.5em;

    font-size: inherit;
    font-family: inherit;
}

.login-button{
    margin: 0;
    padding: 0;
    
    border: none;
    background-color: var(--red);
    
    color: var(--white);
    text-transform: uppercase;
}

.alert{
    line-height: 2.5em;
    text-align: center;
}
.alert-error{
    color: var(--red);
}
.alert-success{
    color: var(--gruen);
}



/* --------------------------------------- */
/* ---------- responsive layout ---------- */
/* --------------------------------------- */

@media screen and (max-width: 2800px) {
    #logo-login{
        width: 70%;
        background-size: 60%;
    }
    #login-wrapper{
        width: 30%;
    }
}

@media screen and (max-width: 2000px) {
    #logo-login{
        width: 60%;
        background-size: 70%;
    }
    #login-wrapper{
        width: 40%;
    }
}

@media screen and (max-width: 1500px) {
    #logo-login{
        width: 50%;
        background-size: 80%;
    }
    #login-wrapper{
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 1024px) and (orientation: portrait){
    #logo-login{
        width: 100%;
        height: 70%;
        background-size: 90%;

    }
    #login-wrapper{
        clear: left;
        width: 100%;
        height: 30%;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
}